/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --display: visible;
  --background-color: #000028;
  --font-size: 18px;
  --background-image: url(../images/cover-image-dark.png);
  --header-title-color: #DB00FF;
  --accent-color: #FF0070;
  --decor-color: #ff0070;
  --title-decor-color: #FF0070;
  --title-text-color: #000028;
  --section-title-color: #ff0070;
  --content-text-color: #F1B2CE;
}

@media (width > 375px) and (width <= 768px) {
  .page {
    inline-size: 768px;
  }

  .header {
    min-block-size: 1024px;
  }

  .header__theme-menu{
    display: flex;
    justify-self: flex-end;
    align-self: center;
    position: relative;
    padding-inline-end: 20px;
    padding-block-start: 0;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .header__text-block {
    padding: 165px 20px 182px 384px;
  }

  .lamp::before {
    left: 687px;
    top: 20px;
  }

  .lamp::after {
    top: 28px;
    left: 730px;
  }

  .section__title {
    inline-size: 236px;
  }

  .reasons {
    gap: 20px;
    margin-block-end: 85px;
  }

  .question {
    gap: 20px;
    margin-block-end: 80px;
  }

  .question__content {
    display: flex;
    flex-direction: column;
  }

  .answers {
    gap: 20px;
    margin-block-end: 79px;
  }
  
  .answers__content {
    gap: 21px;
  }

  .footer{
    min-block-size: 1024px;
  }
}

@media (max-width: 376px) {
  .page {
    inline-size: 375px;
  }

  .header {
    min-block-size: 668px;
    padding: 10px;
    margin-block-end: 40px;
  }

  .decorated-zone::after {
    bottom: 10px;
    left: 10px;
  }

  .decorated-zone::before {
    top: 10px;
    right: 10px;
  }

  .lamp::before {
    top: 10px;
    left: 304px;
  }

  .lamp::after {
    top: 18px;
    left: 347px;
  }

  .header__theme-menu{
    display: flex;
    justify-self: flex-end;
    align-self: center;
    position: relative;
    padding-inline-end: 0;
    padding-block-start: 0;
  }

  .header__theme-menu-list {
    gap: 15px;;
    flex-direction: column;
  }

  .header__text-block {
    padding: 55px 0;
  }

  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .section {
    padding: 0 10px;
  }

  .section__title {
    inline-size: 355px;
  }

  .reasons {
    grid-template-columns: none;
    margin-block-end: 55px;
  }

  .reasons__content {
    gap: 25px;
  }

  .question {
    margin-block-end: 54px;
  }

  .question__content {
    gap: 22px;
  }

  .answers {
    grid-template-columns: none;
    margin-block-end: 50px;
  }

  .answers__content {
    gap: 22px;
  }

  .gallery {
    gap: 10px;
    margin-block-end: 38px;
  }
  
  .pictures {
    display: flex;
    flex-direction: column;
    gap: 11px;
  }

  .footer {
    min-block-size: 668px;
  }
}
