/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --display: visible;
  --background-image: url(../images/cover-image-dark.png);
  --header-title-color: #DB00FF;
  --accent-color: #FF0070;
  --decor-color: #ff0070;
  --title-decor-color: #FF0070;
  --title-text-color: #000028;
  --section-title-color: #ff0070;
  --content-text-color: #F1B2CE;
  --focus-link-color: #f1b2ce;
}
